/* START RESETS */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

/* END RESETS */

:root {
  --btnColor: hsla(0, 0%, 100%, 0.2);
}

.Hero__Container {
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 90%,
    0 calc(100% - 8vw)
  );
}

.Hero__Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1rem;
}

.Hero__Nav_Main {
  display: flex;
  align-items: center;
}

.Hero__Nav_Main_Icon {
  width: 2rem;
  height: 2rem;
}

.Hero__Nav_Main_Text {
  font-weight: 700;
  font-size: 20px;
  padding-left: 0.5rem;
}

.Hero__Nav_Links {
  display: none;
}

.Hero__Nav_Links li a {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 500;
}

.Hero__Nav_Signin_Button {
  display: none;
}

.Hero__Nav_Menu_Icon {
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

.Hero__Nav_Menu_Container {
  background-color: var(--btnColor);
  border-radius: 1rem;
  padding: 0.1rem 0.75rem;
}

.btn {
  background-color: var(--btnColor);
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
}

.Mobile_Menu__Nav_Item {
  display: block;
  padding: 1rem;
  color: white;
  font-weight: 700;
}

.Hero__Container::after {
  content: '';
  color: white;
  position: absolute;
  z-index: -1;
  bottom: 0;
  transform: skewY(30deg);
}

.Hero_Content__Main {
  min-height: 300px;
  max-height: 500px;
}

.Bottom__Content {
  height: 400px;
  background-color: white;
}

@media (min-width: 900px) {
  .Hero__Nav {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .Hero__Nav_Main_Text {
    font-size: 24px;
  }
  .Hero__Nav_Links {
    display: flex;
  }
  .Hero__Nav_Signin_Button {
    display: block;
  }
  .Hero__Nav_Menu_Icon {
    display: none;
  }
  .Hero__Nav_Menu_Container {
    display: none;
  }
  .Hero__Content_Mobile_Menu {
    display: none;
  }
}