body {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

.header-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.description-container {
  display: flex;
}

.item {
  display: flex;
  align-items: center;
}