/* START RESETS */

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height:100%;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

/* END RESETS */

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.under {
  padding: 6rem;
  background-color: darkgoldenrod;
  position: absolute;
  transform: rotate(-6deg);
  border-radius: 0.5rem;
}

.over {
  padding: 6rem;
  background-color: darkgreen;
  position: relative;
  border-radius: 0.5rem;
}