/* START RESETS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}
/* END RESETS */

:root {
  --fancy-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.container {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
}

.under {
  position: absolute;
  padding: 10rem 15rem;
  background-color: cornflowerblue;
  border-radius: 1.5rem;
  transform: rotate(-5deg);
  box-shadow: var(--fancy-shadow);
}

.over {
  position: relative;
  padding: 10rem 15rem;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: var(--fancy-shadow);
}
