body {
  padding: 0;
  margin: 0;
}

main {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  background-color: #f3f4f6;
}

h3 {
  padding: 0;
  margin: 0;
}

.data-container {
  border-top: 1px solid darkgray;
}

.card-container {
  background-color: white;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  max-width: 850px;
}

.header-container {
  padding: 1rem;
}

.title {
  padding-bottom: 0.5rem;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  padding: 1rem;
}

dl div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  padding: 1rem;
}

.row dd {
  grid-column: span 2 / span 2;
}

.row:nth-child(odd) {
  background-color: rgba(249, 250, 251, 1);
}

.attachment-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.attachment-container {
  display: flex;
  align-items: center;
}

.download-link {
  margin-left: auto;
}